body{
    background-color: black;
    color: white;
}

.game-board{
    display: grid;
    grid-template: 200px 200px 200px / 200px 200px 200px;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

button{
    width: 200px;
    height: 200px;
}